<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gulena.ballotbox" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.rpi.rcos.ballotbox.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="edu.rpi.rcos.ballotbox.PublicVotesActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="edu.rpi.rcos.ballotbox.NewElectionActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="edu.rpi.rcos.ballotbox.VoteActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="edu.rpi.rcos.ballotbox.LoginActivity"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
